Hopster.xcodeproj/xcuserdata/connorkuehnle.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Hopster.xcodeproj/project.xcworkspace/xcshareddata/Hopster.xccheckout
Hopster.xcodeproj/xcuserdata/connorkuehnle.xcuserdatad/xcschemes/Hopster.xcscheme
Hopster.xcodeproj/project.xcworkspace/xcuserdata/connorkuehnle.xcuserdatad/WorkspaceSettings.xcsettings
Hopster.xcodeproj/xcuserdata/connorkuehnle.xcuserdatad/xcschemes/xcschememanagement.plist
